Repository sudarshanpbhat/test-repo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @some-org/everythingowner, @some-org/foo-team, @some-org/bar-team

Test
  foo/test.log
Owners: @some-org/foo-team

tes
  bar/test.txt
Owners: @some-org/bar-team

Test 2
  base.txt
  foo/test3.tst
Owners: @some-org/everythingowner, @some-org/foo-team

Test 3
  base.txt
  foo/test3.tst
Owners: @some-org/everythingowner, @some-org/foo-team

Test 4
  foo/test4.txt
  foobar/test4.txt
Owners: @some-org/foo-team, @some-org/bar-team

test 5
  foo/test5.txt
Owners: @some-org/foo-team

.github/CODEOWNERS:

* @some-org/everythingowner
/foo/ @some-org/foo-team
/bar/ @some-org/bar-team
/foobar/ @some-org/foo-team @some-org/bar-team
